@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body{
  --color-contraste-light: rgb(150, 150, 150);
  --color-contraste: rgb(255, 255, 255);
  --sombra-contraste: rgba(255, 255, 255, 0.3);
  --color-base: rgb(0, 0, 0);
  --color-enfasis: rgb(82, 148, 226);
  --color-degradado-oscuro: rgb(50,50,50);
  --color-bombilla: rgb(255, 200, 100);
  background-image: linear-gradient(160deg, var(--color-degradado-oscuro) 0%, var(--color-base) 100%);
}
body.claro{
  --color-contraste-light: rgb(100,100,100);
  --color-contraste: rgb(0, 0, 0);
  --sombra-contraste: rgba(0, 0, 0, 0.3);
  --color-base: rgb(255, 255, 255);
  --color-degradado-oscuro: rgb(200,200,200);
  --color-bombilla: var(--color-base);
  background-image: linear-gradient(160deg, var(--color-base) 0%, var(--color-degradado-oscuro) 100%);
}

:root{
  font-size: calc(1rem + 0.8vmax);
  font-family: Montserrat, sans-serif;
}
:root, h1, h2, .tiempo.minimo h2, .tiempo__grupo p, .tiempo.minimo span{
  color: var(--color-contraste);
}

*{
  transition-property: color, background-color;
  transition-duration: 0.3s;
}
body{
  padding: 0 1em;
  margin: 0;
  min-height: 100vh;
  display: grid;
  margin: 0 auto;
  grid-auto-rows: min-content;
  grid-template-rows: repeat(2, min-content) 1fr;
  justify-content: center;
  align-content: center;
}

button{
  cursor: pointer;
}

h1, h2{
  font-weight:900;
}
h1{
  padding: 0.25em 0 0.75em;
  font-size: 2em;
  text-align: center;
  margin: 0;
}
h2{
  margin: 0;
  font-size:0.8em;
}
.vuelta{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em 1em;
}
.contador{
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  gap: 1em;
}
.contador .tiempo{
  font-size: 4em;
  color: var(--color-base);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0 0.5em;
}

.contador .tiempo div{
  display: flex;
  flex-flow: row nowrap;
  gap: 0.1em;
}
.contador .tiempo span {
  background: var(--color-contraste);
  width: 1em;
  font-weight:900;
  border-radius: 0.025em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contador .tiempo:not(.minimo) span{
  box-shadow: 0.025em 0.025em 0.1em 0 var(--sombra-contraste);
}

.tiempo__grupo{
  display: flex;
  flex-flow: row wrap;
}
.tiempo.minimo{
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2em;
}
.tiempo__grupo p{
  margin: 0 0.25em;
}
.tiempo.minimo span{
  background: none;
  width: min-content;
}
.invisible{
  position: absolute;
  visibility: hidden;
}
.animacion{
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1.5em;
  width: 100%;
}
.animacion i{
  font-size: 0.75em;
  color: var(--color-contraste);
}
.animacion .barra--progreso{
  flex-grow: 1;
}
.animacion .fondo{
  position: relative;
  height: 0.6em;
  background-color: var(--color-contraste-light);
  flex-grow: 1;
}
.animacion .progreso{
  position: relative;
  background-color: var(--color-enfasis);
  width: 0%;
  height: 0.6em;
}
.animacion img{
  border: 0.125em solid var(--color-contraste);
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 2em;
  border-radius: 100%;
  transform: translate(-60%, -1.25em);
}
.iconos{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.alternadores{
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.alternadores .eslabon{
  width: 0.2em;
  border-radius: 50%;
  height: 0.3em;
  border: 0.15em solid var(--color-contraste);
}
.alternadores button{
  font-size: 0.65em;
  padding: 0.5em 0.6em;
  background-color: var(--color-contraste);
  color: var(--color-bombilla);
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0.5em 0.25em var(--sombra-contraste);
}
.alternadores button i{
  font-size: 1.75em;
  width: 1em;
  height: 1em;
}

@media (min-width: 90em){
  :root{
    font-size: calc(1.25rem + 1vmax);
  }
  body{
    padding: 0 2em;
    display: block;
  }
  .vuelta{
    flex-flow: row wrap;
  }
  .contador{
    justify-content: center;
  }
  .animacion{
    width: auto;
    position: static;
    flex-grow: 1;
  }
  .alternadores{
    bottom: 1em;
    top: initial;
  }
}
